:root {
    --main-red: #ef3e3e;
    --main-black: #4c3b3b;
    --main-orange: #ff7b34;
    --main-green: #48a273;
    --main-white: #fff;
    --main-gray-light: #989898;
    --main-yellow: #ffd352;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.container {
    padding: 15px 15px 50px;
    max-width: 900px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    margin-top: 40px;
}

a {
    position: relative;
    color: var(--main-orange);
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: .2s;
}

a:hover {
    border-bottom: 2px solid var(--main-orange);
}

.list {
    font-size: 20px;
    margin-bottom: 50px;
}

.list li {
    margin-bottom: 15px;
}

.panel {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid var(--main-black);
    margin-bottom: 15px;
}

.row {
    position: relative;
    margin: 0 0 20px;
}

.flex {
    display: flex !important;
}

.j-c-center {
    justify-content: center;
}

.a-i-center {
    align-items: center;
}

.row:last-child {
    margin: 0;
}

.text-center {
    text-align: center;
}

.text-red {
    color: var(--main-black);
}

.text-red:hover {
    color: var(--main-red);
}

.opacity-75:hover {
    opacity: .75;
}

.button {
    display: inline-block;
    padding: 13px 25px;
    box-shadow: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    color: var(--main-white);
    background: var(--main-green);
    border: 2px solid var(--main-green);
    cursor: pointer;
}

.row .button {
    margin-right: 20px;
}

.btn-colored:hover {
    background-color: var(--main-red);
    border: 2px solid var(--main-red);
    color: var(--main-white);
}

.btn-bordered {
    background: transparent;
    border: 2px solid var(--main-green);
    color: var(--main-green);
}

.btn-bordered:hover {
    background: var(--main-green);
    color: var(--main-white);
}

.btn-shadowed:hover {
    box-shadow: 2px 2px 6px var(--main-gray-light);
}

.btn-scaled:hover {
    transform: scale(1.1);
}

.box {
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 160px;
    height: 160px;
    background-color: var(--main-orange);
    margin: 40px;
    font-size: 20px;
    color: var(--main-white);
    overflow: hidden;
    border-radius: 4px;
}

.box-sm {
    width: 55px;
    height: 55px;
    margin: 10px;
    font-size: 12px;
}

/* Triggers */

.box-rotate:hover {
    transform: rotate(45deg);
}

.animation-cont:hover,
.time-funcs:hover {
    background-color: #f7f7f7;
    border-color: var(--main-orange);
    box-shadow: 2px 2px 11px -4px var(--main-gray-light)
}

.mb-lg{
    margin-bottom: 60px;
}

.time-funcs:hover .box-move-right.box-sm {
    margin-left: calc(100% - 75px);
}

.animation-cont:hover .move-animation {
    animation-play-state: running;
}

/* Triggers */