:root {
    --delay: 100ms;
    --duration: 500ms;
}

.transitioned {
    transition: 500ms;
}

.transitioned-long {
    transition: 3s;
}

.fs-transition:hover {
    transform: scale(1.2);
    /*font-size: 25px;*/
}

.opacity-transition:hover {
    opacity: .75;
}

.ease {
    transition-timing-function: ease;
}
.ease-in {
    transition-timing-function: ease-in;
}
.ease-in-out {
    transition-timing-function: ease-in-out;
}
.ease-out {
    transition-timing-function: ease-out;
}
.linear {
    transition-timing-function: linear;
}
.custom-1 {
    transition-timing-function: cubic-bezier(1.000, 0.835, 0.000, 0.945);
}
.custom-2 {
    transition-timing-function: cubic-bezier(1.000, -0.530, 0.405, 1.425);
}

.delay-1 {
    transition-delay: calc(var(--delay) * 1);
}
.delay-2 {
    transition-delay: calc(var(--delay) * 2);
}
.delay-3 {
    transition-delay: calc(var(--delay) * 3);
}
.delay-4 {
    transition-delay: calc(var(--delay) * 4);
}
.delay-5 {
    transition-delay: calc(var(--delay) * 5);
}
.duration-1 {
    transition-duration: calc(var(--duration) * 1);
}
.duration-2 {
    transition-duration: calc(var(--duration) * 2);
}
.duration-3 {
    transition-duration: calc(var(--duration) * 3);
}
.duration-4 {
    transition-duration: calc(var(--duration) * 4);
}
.duration-5 {
    transition-duration: calc(var(--duration) * 5);
}